<div class="container">
    <table id="myTable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>

                <th>Subscribe</th>
            </tr>
        </thead>
        <tbody>
            {{#each channels}}
            <tr>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>
                    <a href="https://www.youtube.com/channel/{{channelId}}?sub_confirmation=1" target="_blank">Subscribe</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<script>
    $(document).ready(function () {
        channelsTable = $('#myTable').DataTable()
    })
</script>