<button id="sign-in-or-out-button" style="margin-left: 25px">Sign In/Authorize</button>
<button id="revoke-access-button" style="display: none; margin-left: 25px">Revoke access</button>
<button style="margin-left: 25px" onclick="getData()">Get Youtube List</button>
<div id="auth-status" style="display: inline; padding-left: 25px"></div>
<hr>
<div class="container">
    <div>
        <input id="txt-sharedlink" type="text" value="something" readonly>
        <a href="" id="a-sharedlink" target="blank">Click here</a>
    </div>
</div>
<script src="/auth.js"></script>
<script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()"
    onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>